/*
Browse API

The Browse API has the following resources:<ul><li><b>item_summary:</b><br>Allows shoppers to search for specific items by keyword, GTIN, category, charity, product, image, or item aspects and refine the results by using filters, such as aspects, compatibility, and fields values, or UI parameters.</li><li><b>item:</b><br>Allows shoppers to retrieve the details of a specific item or all items in an item group, which is an item with variations such as color and size and check if a product is compatible with the specified item, such as if a specific car is compatible with a specific part.<br><br>This resource also provides a bridge between the eBay legacy APIs, such as the <a href=\"/api-docs/user-guides/static/finding-user-guide-landing.html\" target=\"_blank\">Finding</b>, and the RESTful APIs, which use different formats for the item IDs.</li></ul>The <b>item_summary</b>, <b>search_by_image</b>, and <b>item</b> resource calls require an <a href=\"/api-docs/static/oauth-client-credentials-grant.html\" target=\"_blank\">Application access token</a>.

API version: v1.19.9
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package buybrowse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemAPIService ItemAPI service
type ItemAPIService service

type ApiCheckCompatibilityRequest struct {
	ctx context.Context
	ApiService *ItemAPIService
	itemId string
	contentType *string
	xEBAYCMARKETPLACEID *string
	acceptLanguage *string
	compatibilityPayload *CompatibilityPayload
}

// This header indicates the format of the request body provided by the client.&lt;br&gt;&lt;br&gt;Its value should be set to &lt;code&gt;application/json&lt;/code&gt;.&lt;br&gt;&lt;br&gt;For more information, refer to &lt;a href&#x3D;\&quot;/api-docs/static/rest-request-components.html#HTTP\&quot; target&#x3D;\&quot;_blank \&quot;&gt;HTTP request headers&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/static/ebay-rest-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Using eBay RESTful APIs&lt;/a&gt; guide.
func (r ApiCheckCompatibilityRequest) ContentType(contentType string) ApiCheckCompatibilityRequest {
	r.contentType = &contentType
	return r
}

// This header identifies the seller&#39;s eBay marketplace. It is required for all marketplaces outside of the US.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; If a marketplace ID value is not provided, the default value of &lt;code&gt;EBAY_US&lt;/code&gt; is used.&lt;/span&gt;&lt;br&gt;See &lt;a href&#x3D;\&quot;/api-docs/buy/browse/types/ba:MarketplaceIdEnum\&quot; target&#x3D;\&quot;_blank\&quot;&gt;MarketplaceIdEnum&lt;/a&gt; for supported values.
func (r ApiCheckCompatibilityRequest) XEBAYCMARKETPLACEID(xEBAYCMARKETPLACEID string) ApiCheckCompatibilityRequest {
	r.xEBAYCMARKETPLACEID = &xEBAYCMARKETPLACEID
	return r
}

// This header is used to indicate the natural language and locale preferred by the user for the response.&lt;br&gt;&lt;br&gt;This header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:&lt;ul&gt;&lt;li&gt;When targeting the French locale of the Belgium marketplace, it is required to pass in &lt;code&gt;fr-BE&lt;/code&gt; to specify this. If this locale is not specified, the language will default to Dutch.&lt;/li&gt;&lt;li&gt;When targeting the French locale of the Canadian marketplace, it is required to pass in &lt;code&gt;fr-CA&lt;/code&gt; to specify this. If this locale is not specified, the language will default to English.&lt;/li&gt;&lt;/ul&gt;
func (r ApiCheckCompatibilityRequest) AcceptLanguage(acceptLanguage string) ApiCheckCompatibilityRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiCheckCompatibilityRequest) CompatibilityPayload(compatibilityPayload CompatibilityPayload) ApiCheckCompatibilityRequest {
	r.compatibilityPayload = &compatibilityPayload
	return r
}

func (r ApiCheckCompatibilityRequest) Execute() (*CompatibilityResponse, *http.Response, error) {
	return r.ApiService.CheckCompatibilityExecute(r)
}

/*
CheckCompatibility Method for CheckCompatibility

This method checks if a product is compatible with the specified item. You can use this method to check the compatibility of cars, trucks, and motorcycles with a specific part listed on eBay.<br><br>For example, to check the compatibility of a part, you pass in the <b>item_id</b> of the part as a URI parameter and specify all the attributes used to define a specific car within the <b>compatibilityProperties</b> container. If the call is successful, the response will be <code>COMPATIBLE</code>, <code>NOT_COMPATIBLE</code>, or <code>UNDETERMINED</code>. Refer to <a href="/api-docs/buy/browse/resources/item/methods/checkCompatibility#response.compatibilityStatus">compatibilityStatus</a> for details.   <br><br><span class="tablenote"><b>Note:</b> The only products supported are cars, trucks, and motorcycles.</span><br>To find the attributes and values for a specific marketplace, you can use the compatibility methods in the <a href="/api-docs/commerce/taxonomy/resources/methods" target="_blank">Taxonomy API</a>. You can use this data to create menus to help buyers specify the product, such as their car.<br><br>For more information and a list of required attributes for the US marketplace that describe motor vehicles, refer to <a href="/api-docs/buy/static/api-browse.html#Check" target="_blank">Check compatibility</a> in the <i>Buying Integration Guide</i>.<br><br>For an example, refer to the <a href="/api-docs/buy/browse/resources/item/methods/checkCompatibility#h2-samples">Samples</a> section.<br><br><span class="tablenote"><b>Note:</b> This method is supported in Sandbox but <i>only</i> when passing in the specified <code>item_id</code> and compatibility name-value pairs listed in <a href="/api-docs/buy/browse/resources/item/methods/checkCompatibility#s0-1-22-6-7-7-6-SandboxSample-1">Sample 2: Sandbox Sample</a>.</span><h3>Restrictions</h3>For a list of supported sites and other restrictions, refer to <a href="/api-docs/buy/browse/overview.html#API">API Restrictions</a>.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId This path parameter specifies the unique RESTful identifier of an item (such as the park you want to check).<br><br><b>RESTful Item ID Format: </b><code>v1</code>|<code><i>#</i></code>|<code><i>#</i></code><br><br>For a single SKU listing, pass in the item ID: <pre>v1|2**********2|0</pre>For a multi-SKU listing, pass in the identifier of the variation:<pre>v1|1**********2|4**********2</pre><br>For more information about item IDs for RESTful APIs, refer to <a href=\"/api-docs/buy/static/api-browse.html#Legacy\" target=\"_blank\">Item ID legacy API compatibility overview</a> in the <a href=\"/api-docs/buy/static/buying-ig-landing.html\" target=\"_blank\">Buying Integration Guide</a>.
 @return ApiCheckCompatibilityRequest
*/
func (a *ItemAPIService) CheckCompatibility(ctx context.Context, itemId string) ApiCheckCompatibilityRequest {
	return ApiCheckCompatibilityRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return CompatibilityResponse
func (a *ItemAPIService) CheckCompatibilityExecute(r ApiCheckCompatibilityRequest) (*CompatibilityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CompatibilityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemAPIService.CheckCompatibility")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/item/{item_id}/check_compatibility"
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentType == nil {
		return localVarReturnValue, nil, reportError("contentType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEBAYCMARKETPLACEID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-MARKETPLACE-ID", r.xEBAYCMARKETPLACEID, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	// body params
	localVarPostBody = r.compatibilityPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemRequest struct {
	ctx context.Context
	ApiService *ItemAPIService
	itemId string
	fieldgroups *string
	xEBAYCENDUSERCTX *string
	xEBAYCMARKETPLACEID *string
	acceptLanguage *string
}

// This parameter controls what is returned in the response. If this field is not set, the method returns all the details of the item.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; Multiple &lt;b&gt;fieldgroups&lt;/b&gt; can be set and applied simultaneously. However, &lt;b&gt;COMPACT&lt;/b&gt; &lt;b&gt;must&lt;/b&gt; be used alone. Otherwise, an error will occur.&lt;/span&gt;&lt;br&gt;&lt;b&gt;Valid Values:&lt;/b&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;PRODUCT&lt;/b&gt;&lt;br&gt;This field group adds the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItem#response.product\&quot;&gt;product&lt;/a&gt; container to the response.&lt;/li&gt;&lt;li&gt;&lt;b&gt;COMPACT&lt;/b&gt;&lt;/br&gt;This field group returns only the following fields which let you quickly check if the availability or price of the item has changed, if the item has been revised by the seller, or if an item&#39;s top-rated plus status has changed for items you have stored.&lt;ul&gt;&lt;li&gt;&lt;b&gt;itemId&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;bidCount&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;currentBidPrice&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;eligibleForInlineCheckout&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;estimatedAvailabilities&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;gtin&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;itemAffiliateWebURL&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;itemCreationDate&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;ItemWebURL&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;legacyItemId&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;minimumPriceToBid&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;price&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;priorityListing&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;reservePriceMet&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;sellerItemRevision&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;shippingOptions&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;taxes&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;topRatedBuyingExperience&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;uniqueBidderCount&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;For Example:&lt;br&gt;To determine if a stored item&#39;s information is current, perform the following:&lt;ol&gt;&lt;li&gt;Pass in the item ID and set &lt;code&gt;fieldgroups&lt;/code&gt; to &lt;code&gt;COMPACT&lt;/code&gt;.&lt;pre&gt;item/v1|4**********8|0?fieldgroups&#x3D;COMPACT&lt;/pre&gt;&lt;/li&gt;&lt;li&gt;Do one of the following:&lt;ul&gt;&lt;li&gt;If &lt;b&gt;sellerItemRevision&lt;/b&gt; is returned and a revision number for this item &lt;i&gt;has not&lt;/i&gt; been stored, record the number and pass in the item ID in the &lt;b&gt;getItem&lt;/b&gt; method to retrieve the most recent information.&lt;/li&gt;&lt;li&gt;If the revision number is different from the value you have stored, update the value and pass in the item ID in the &lt;b&gt;getItem&lt;/b&gt; method to retrieve the most recent information.&lt;/li&gt;&lt;li&gt;If &lt;code&gt;sellerItemRevision&lt;/code&gt; is &lt;i&gt;not&lt;/i&gt; returned or has not changed, where needed, update the item information with the information returned in the response.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;ADDITIONAL_SELLER_DETAILS&lt;/b&gt;&lt;br&gt;This adds the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItem#response.seller.userId\&quot;&gt;userId&lt;/a&gt; field to the response.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemRequest) Fieldgroups(fieldgroups string) ApiGetItemRequest {
	r.fieldgroups = &fieldgroups
	return r
}

// This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.&lt;br&gt;&lt;br&gt;For additional information, refer to &lt;a href&#x3D;\&quot;/api-docs/buy/static/api-browse.html#Headers\&quot; target&#x3D;\&quot;_blank \&quot;&gt;Use request headers&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/buy/static/buying-ig-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Buying Integration Guide&lt;/a&gt;.
func (r ApiGetItemRequest) XEBAYCENDUSERCTX(xEBAYCENDUSERCTX string) ApiGetItemRequest {
	r.xEBAYCENDUSERCTX = &xEBAYCENDUSERCTX
	return r
}

// This header identifies the seller&#39;s eBay marketplace. It is required for all marketplaces outside of the US.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; If a marketplace ID value is not provided, the default value of &lt;code&gt;EBAY_US&lt;/code&gt; is used.&lt;/span&gt;&lt;br&gt;See &lt;a href&#x3D;\&quot;/api-docs/buy/browse/types/ba:MarketplaceIdEnum\&quot; target&#x3D;\&quot;_blank\&quot;&gt;MarketplaceIdEnum&lt;/a&gt; for a list of supported marketplaces.
func (r ApiGetItemRequest) XEBAYCMARKETPLACEID(xEBAYCMARKETPLACEID string) ApiGetItemRequest {
	r.xEBAYCMARKETPLACEID = &xEBAYCMARKETPLACEID
	return r
}

// This header is used to indicate the natural language and locale preferred by the user for the response.&lt;br&gt;&lt;br&gt;This header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:&lt;ul&gt;&lt;li&gt;When targeting the French locale of the Belgium marketplace, it is required to pass in &lt;code&gt;fr-BE&lt;/code&gt; to specify this. If this locale is not specified, the language will default to Dutch.&lt;/li&gt;&lt;li&gt;When targeting the French locale of the Canadian marketplace, it is required to pass in &lt;code&gt;fr-CA&lt;/code&gt; to specify this. If this locale is not specified, the language will default to English.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemRequest) AcceptLanguage(acceptLanguage string) ApiGetItemRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetItemRequest) Execute() (*Item, *http.Response, error) {
	return r.ApiService.GetItemExecute(r)
}

/*
GetItem Method for GetItem

This method retrieves the details of a specific item, such as description, price, category, all item aspects, condition, return policies, seller feedback and score, shipping options, shipping costs, estimated delivery, and other information the buyer needs to make a purchasing decision.<br><br>The Buy APIs are designed to let you create an eBay shopping experience in your app or website. This means you will need to know when something, such as the availability, quantity, etc., has changed in any eBay item you are offering. This is easily achieved by setting the <b>fieldgroups</b> URI parameter to one of the following values:<ul><li><code>COMPACT</code><br>Reduces the response to only those fields necessary in order to determine if any item detail has changed. This field group <b>must</b> be used alone.</li><li><code>PRODUCT</code><br>Adds fields to the default response that return information about the product/item. This field group may also be used in conjunction with <code>ADDITIONAL_SELLER_DETAILS</code>.</li><li><code>ADDITIONAL_SELLER_DETAILS</code><br>Adds an additional field to the response that returns the seller's user ID. This field group may also be used in conjunction with <code>PRODUCT</code>.</li></ul>For additional information, refer to <a href="/api-docs/buy/browse/resources/item/methods/getItem#uri.fieldgroups">fieldgroups</a>.<h3>Restrictions</h3>For a list of supported sites and other restrictions, refer to <a href="/api-docs/buy/browse/overview.html#API">API Restrictions</a>.<br><br><span class="tablenote"><b>eBay Partner Network:</b> In order to be commissioned for your sales, you must use the URL returned in the <code>itemAffiliateWebUrl</code> field to forward your buyer to the ebay.com site.</span>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemId This path parameter specifies the unique RESTful identifier of the item being retrieved. <br><br><b>RESTful Item ID Format: </b><code>v1</code>|<code><i>#</i></code>|<code><i>#</i></code><br><br>For a single SKU listing, pass in the item ID: <pre>v1|2**********2|0</pre>For a multi-SKU listing, pass in the identifier of the variation:<pre>v1|1**********2|4**********2</pre><br>For more information about item IDs for RESTful APIs, refer to <a href=\"/api-docs/buy/static/api-browse.html#Legacy\" target=\"_blank\">Item ID legacy API compatibility overview</a> in the <a href=\"/api-docs/buy/static/buying-ig-landing.html\" target=\"_blank\">Buying Integration Guide</a>.
 @return ApiGetItemRequest
*/
func (a *ItemAPIService) GetItem(ctx context.Context, itemId string) ApiGetItemRequest {
	return ApiGetItemRequest{
		ApiService: a,
		ctx: ctx,
		itemId: itemId,
	}
}

// Execute executes the request
//  @return Item
func (a *ItemAPIService) GetItemExecute(r ApiGetItemRequest) (*Item, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Item
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemAPIService.GetItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/item/{item_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldgroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldgroups", r.fieldgroups, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEBAYCENDUSERCTX != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-ENDUSERCTX", r.xEBAYCENDUSERCTX, "simple", "")
	}
	if r.xEBAYCMARKETPLACEID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-MARKETPLACE-ID", r.xEBAYCMARKETPLACEID, "simple", "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemByLegacyIdRequest struct {
	ctx context.Context
	ApiService *ItemAPIService
	legacyItemId *string
	fieldgroups *string
	legacyVariationId *string
	legacyVariationSku *string
	xEBAYCENDUSERCTX *string
	xEBAYCMARKETPLACEID *string
	acceptLanguage *string
}

// This query parameter is the unique identifier that specifies the item being retrieved.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt; Note:&lt;/b&gt; When passing in the ID for a multi-variation listing, you must also use the &lt;code&gt;legacy_variation_id&lt;/code&gt; field and pass in the ID of the specific item variation. If not, all variation within the multi-SKU listing will be retrieved.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;br&gt;The following is an example of using the value of the &lt;b&gt;ItemID&lt;/b&gt; field for a specific item to get the RESTful &lt;code&gt;itemId&lt;/code&gt; value.&lt;pre&gt;&lt;code&gt;browse/v1/item/get_item_by_legacy_id?legacy_item_id&#x3D;1**********9&lt;/code&gt;&lt;/pre&gt;
func (r ApiGetItemByLegacyIdRequest) LegacyItemId(legacyItemId string) ApiGetItemByLegacyIdRequest {
	r.legacyItemId = &legacyItemId
	return r
}

// This field controls what is returned in the response. If this field is not set, the method returns all details about the item. Multiple &lt;code&gt;fieldgroups&lt;/code&gt; can be set.&lt;br&gt;&lt;br&gt;&lt;b&gt;Valid Values:&lt;/b&gt;&lt;ul&gt;&lt;li&gt; &lt;b&gt;PRODUCT&lt;/b&gt;&lt;br&gt;This field group adds the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItemByLegacyId#response.product\&quot;&gt;product&lt;/a&gt; container to the response. &lt;/li&gt;&lt;li&gt;&lt;b&gt;ADDITIONAL_SELLER_DETAILS&lt;/b&gt;&lt;br&gt;This field group adds the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItemByLegacyId#response.seller.userId\&quot;&gt;userId&lt;/a&gt; field to the response.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemByLegacyIdRequest) Fieldgroups(fieldgroups string) ApiGetItemByLegacyIdRequest {
	r.fieldgroups = &fieldgroups
	return r
}

// This query parameter specifies the legacy item ID of a specific item in a multi-variation listing, such as that for the &lt;i&gt;red shirt size L&lt;/i&gt; item.&lt;br&gt;&lt;br&gt;&lt;div class&#x3D;\&quot;msgbox_important\&quot;&gt;&lt;p class&#x3D;\&quot;msgbox_importantInDiv\&quot; data-mc-autonum&#x3D;\&quot;&amp;lt;b&amp;gt;&amp;lt;span style&#x3D;&amp;quot;color: #dd1e31;&amp;quot; class&#x3D;&amp;quot;mcFormatColor&amp;quot;&amp;gt;Important! &amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;\&quot;&gt;&lt;span class&#x3D;\&quot;autonumber\&quot;&gt;&lt;span&gt;&lt;b&gt;&lt;span style&#x3D;\&quot;color: #dd1e31;\&quot; class&#x3D;\&quot;mcFormatColor\&quot;&gt;Important!&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;&lt;/span&gt; A &lt;code&gt;legacy_item_id&lt;/code&gt; value must always be passed in when specifying a &lt;code&gt;legacy_variation_id&lt;/code&gt; value.&lt;/p&gt;&lt;/div&gt;
func (r ApiGetItemByLegacyIdRequest) LegacyVariationId(legacyVariationId string) ApiGetItemByLegacyIdRequest {
	r.legacyVariationId = &legacyVariationId
	return r
}

// This query parameter specifies the legacy SKU of an item. SKUs are the unique identifiers of an item created by the seller.&lt;br&gt;&lt;br&gt;The following is an example of using the value of the &lt;code&gt;ItemID&lt;/code&gt; and &lt;code&gt;SKU&lt;/code&gt; fields to get the RESTful &lt;code&gt;itemId&lt;/code&gt; value.&lt;pre&gt;&lt;code&gt;browse/v1/item/get_item_by_legacy_id?legacy_item_id&#x3D;1**********9&amp;amp;legacy_variation_sku&#x3D;V**********M&lt;/code&gt;&lt;/pre&gt;&lt;div class&#x3D;\&quot;msgbox_important\&quot;&gt;&lt;p class&#x3D;\&quot;msgbox_importantInDiv\&quot; data-mc-autonum&#x3D;\&quot;&amp;lt;b&amp;gt;&amp;lt;span style&#x3D;&amp;quot;color: #dd1e31;&amp;quot; class&#x3D;&amp;quot;mcFormatColor&amp;quot;&amp;gt;Important! &amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;\&quot;&gt;&lt;span class&#x3D;\&quot;autonumber\&quot;&gt;&lt;span&gt;&lt;b&gt;&lt;span style&#x3D;\&quot;color: #dd1e31;\&quot; class&#x3D;\&quot;mcFormatColor\&quot;&gt;Important!&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;&lt;/span&gt; A &lt;code&gt;legacy_item_id&lt;/code&gt; value must always be passed in when specifying a &lt;code&gt;legacy_variation_sku&lt;/code&gt; value.&lt;/p&gt;&lt;/div&gt;
func (r ApiGetItemByLegacyIdRequest) LegacyVariationSku(legacyVariationSku string) ApiGetItemByLegacyIdRequest {
	r.legacyVariationSku = &legacyVariationSku
	return r
}

// This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.&lt;br&gt;&lt;br&gt;For additional information, refer to &lt;a href&#x3D;\&quot;/api-docs/buy/static/api-browse.html#Headers\&quot; target&#x3D;\&quot;_blank \&quot;&gt;Use request headers&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/buy/static/buying-ig-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Buying Integration Guide&lt;/a&gt;.
func (r ApiGetItemByLegacyIdRequest) XEBAYCENDUSERCTX(xEBAYCENDUSERCTX string) ApiGetItemByLegacyIdRequest {
	r.xEBAYCENDUSERCTX = &xEBAYCENDUSERCTX
	return r
}

// This header identifies the seller&#39;s eBay marketplace. It is required for all marketplaces outside of the US.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; If a marketplace ID value is not provided, the default value of &lt;code&gt;EBAY_US&lt;/code&gt; is used.&lt;/span&gt;&lt;br&gt;See &lt;a href&#x3D;\&quot;/api-docs/buy/browse/types/ba:MarketplaceIdEnum\&quot; target&#x3D;\&quot;_blank\&quot;&gt;MarketplaceIdEnum&lt;/a&gt; for a list of supported marketplaces.
func (r ApiGetItemByLegacyIdRequest) XEBAYCMARKETPLACEID(xEBAYCMARKETPLACEID string) ApiGetItemByLegacyIdRequest {
	r.xEBAYCMARKETPLACEID = &xEBAYCMARKETPLACEID
	return r
}

// This header is used to indicate the natural language and locale preferred by the user for the response.&lt;br&gt;&lt;br&gt;This header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:&lt;ul&gt;&lt;li&gt;When targeting the French locale of the Belgium marketplace, it is required to pass in &lt;code&gt;fr-BE&lt;/code&gt; to specify this. If this locale is not specified, the language will default to Dutch.&lt;/li&gt;&lt;li&gt;When targeting the French locale of the Canadian marketplace, it is required to pass in &lt;code&gt;fr-CA&lt;/code&gt; to specify this. If this locale is not specified, the language will default to English.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemByLegacyIdRequest) AcceptLanguage(acceptLanguage string) ApiGetItemByLegacyIdRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetItemByLegacyIdRequest) Execute() (*Item, *http.Response, error) {
	return r.ApiService.GetItemByLegacyIdExecute(r)
}

/*
GetItemByLegacyId Method for GetItemByLegacyId

This method is a bridge between the eBay legacy APIs, such as <b>Shopping</b> and <b>Finding</b>, and the eBay Buy APIs. There are differences between how legacy APIs and RESTful APIs return the identifier of an "item" and what the item ID represents. This method lets you use the legacy item ids retrieve the details of a specific item, such as description, price, and other information the buyer needs to make a purchasing decision. It also returns the RESTful <b>item_id</b>, which you can use with all the Buy API  methods.<br><br>For additional information about how to use legacy ids with the Buy APIs, refer to <a href="/api-docs/buy/static/api-browse.html#Legacy" target="_blank">Item ID legacy API compatibility overview</a> in the Buying Integration guide.</br><br>This method returns the item details and requires you to pass in either the <b>item_id</b> of a non-variation item or the <b>item_id</b> values for both the parent and child of an item group.<br><br><span class="tablenote"><b>Note:</b> An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.</span></br>When an item group is created, one of the item variations, such as the red shirt size L, is chosen as the "parent". All other items in the group are the children, such as the blue shirt size L, red shirt size M, etc.<br><br>The <b>fieldgroups</b> URI parameter lets you control what is returned in the response:<ul><li>Setting <b>fieldgroups</b> to <code>PRODUCT</code> adds additional fields to the default response that return information about the product of the item.</li><li>Setting the <b>fieldgroups</b> to <code>ADDITIONAL_SELLER_DETAILS</code> adds an additional field to the response that returns the seller's user ID.</li></ul>These <b>fieldgroups</b> can be used independently or at the same time. For additional information, refer to <a href="/api-docs/buy/browse/resources/item/methods/getItemByLegacyId#uri.fieldgroups">fieldgroups</a>.<h3>Restrictions</h3>For a list of supported sites and other restrictions, refer to <a href="/api-docs/buy/browse/overview.html#API">API Restrictions</a>.<br><br><span class="tablenote"><b>eBay Partner Network:</b> In order to be commissioned for your sales, you must use the URL returned in the <code>itemAffiliateWebUrl</code> field to forward your buyer to the ebay.com site.</span>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemByLegacyIdRequest
*/
func (a *ItemAPIService) GetItemByLegacyId(ctx context.Context) ApiGetItemByLegacyIdRequest {
	return ApiGetItemByLegacyIdRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Item
func (a *ItemAPIService) GetItemByLegacyIdExecute(r ApiGetItemByLegacyIdRequest) (*Item, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Item
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemAPIService.GetItemByLegacyId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/item/get_item_by_legacy_id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.legacyItemId == nil {
		return localVarReturnValue, nil, reportError("legacyItemId is required and must be specified")
	}

	if r.fieldgroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldgroups", r.fieldgroups, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "legacy_item_id", r.legacyItemId, "form", "")
	if r.legacyVariationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "legacy_variation_id", r.legacyVariationId, "form", "")
	}
	if r.legacyVariationSku != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "legacy_variation_sku", r.legacyVariationSku, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEBAYCENDUSERCTX != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-ENDUSERCTX", r.xEBAYCENDUSERCTX, "simple", "")
	}
	if r.xEBAYCMARKETPLACEID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-MARKETPLACE-ID", r.xEBAYCMARKETPLACEID, "simple", "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemsRequest struct {
	ctx context.Context
	ApiService *ItemAPIService
	itemIds *string
	itemGroupIds *string
	xEBAYCENDUSERCTX *string
	xEBAYCMARKETPLACEID *string
	acceptLanguage *string
}

// A comma separated list of the unique identifiers of the items to retrieve (maximum 20).&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; In any given request, either &lt;code&gt;item_ids&lt;/code&gt; &lt;b&gt;or&lt;/b&gt; &lt;code&gt;item_group_ids&lt;/code&gt; can be retrieved. Attempting to retrieve both will result in an error.&lt;/span&gt;&lt;br&gt;&lt;b&gt;RESTful Item ID Format: &lt;/b&gt;&lt;code&gt;v1&lt;/code&gt;|&lt;code&gt;&lt;i&gt;#&lt;/i&gt;&lt;/code&gt;|&lt;code&gt;&lt;i&gt;#&lt;/i&gt;&lt;/code&gt;&lt;br&gt;&lt;br&gt;For a single SKU listing, pass in the item ID: &lt;pre&gt;v1|2**********2|0&lt;/pre&gt;For a multi-SKU listing, pass in the identifier of the variation:&lt;pre&gt;v1|1**********2|4**********2&lt;/pre&gt;&lt;br&gt;For more information about item IDs for RESTful APIs, refer to &lt;a href&#x3D;\&quot;/api-docs/buy/static/api-browse.html#Legacy\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Item ID legacy API compatibility overview&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/buy/static/buying-ig-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Buying Integration Guide&lt;/a&gt;.
func (r ApiGetItemsRequest) ItemIds(itemIds string) ApiGetItemsRequest {
	r.itemIds = &itemIds
	return r
}

// A comma separated list of the unique identifiers of the item groups being retrieved (maximum 10).&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; In any given request, either &lt;code&gt;item_ids&lt;/code&gt; &lt;b&gt;or&lt;/b&gt; &lt;code&gt;item_group_ids&lt;/code&gt; can be retrieved. Attempting to retrieve both will result in an error.&lt;/span&gt;&lt;br&gt;&lt;b&gt;RESTful Group Item ID Format:&lt;/b&gt; &lt;code&gt;############&lt;/code&gt;&lt;br&gt;&lt;br&gt;For example:&lt;pre&gt;3**********9&lt;/pre&gt;
func (r ApiGetItemsRequest) ItemGroupIds(itemGroupIds string) ApiGetItemsRequest {
	r.itemGroupIds = &itemGroupIds
	return r
}

// This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.&lt;br&gt;&lt;br&gt;For additional information, refer to &lt;a href&#x3D;\&quot;/api-docs/buy/static/api-browse.html#Headers\&quot; target&#x3D;\&quot;_blank \&quot;&gt;Use request headers&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/buy/static/buying-ig-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Buying Integration Guide&lt;/a&gt;.
func (r ApiGetItemsRequest) XEBAYCENDUSERCTX(xEBAYCENDUSERCTX string) ApiGetItemsRequest {
	r.xEBAYCENDUSERCTX = &xEBAYCENDUSERCTX
	return r
}

// This header identifies the seller&#39;s eBay marketplace. It is required for all marketplaces outside of the US.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; If a marketplace ID value is not provided, the default value of &lt;code&gt;EBAY_US&lt;/code&gt; is used.&lt;/span&gt;&lt;br&gt;See &lt;a href&#x3D;\&quot;/api-docs/buy/browse/types/ba:MarketplaceIdEnum\&quot; target&#x3D;\&quot;_blank\&quot;&gt;MarketplaceIdEnum&lt;/a&gt; for a list of supported marketplaces.
func (r ApiGetItemsRequest) XEBAYCMARKETPLACEID(xEBAYCMARKETPLACEID string) ApiGetItemsRequest {
	r.xEBAYCMARKETPLACEID = &xEBAYCMARKETPLACEID
	return r
}

// This header is used to indicate the natural language and locale preferred by the user for the response.&lt;br&gt;&lt;br&gt;This header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:&lt;ul&gt;&lt;li&gt;When targeting the French locale of the Belgium marketplace, it is required to pass in &lt;code&gt;fr-BE&lt;/code&gt; to specify this. If this locale is not specified, the language will default to Dutch.&lt;/li&gt;&lt;li&gt;When targeting the French locale of the Canadian marketplace, it is required to pass in &lt;code&gt;fr-CA&lt;/code&gt; to specify this. If this locale is not specified, the language will default to English.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemsRequest) AcceptLanguage(acceptLanguage string) ApiGetItemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetItemsRequest) Execute() (*Items, *http.Response, error) {
	return r.ApiService.GetItemsExecute(r)
}

/*
GetItems Method for GetItems

This method retrieves the details about specific items that buyers need to make a purchasing decision.<br><br><span class="tablenote"><b>Note:</b> This is a <a href="/api-docs/static/versioning.html#limited " target="_blank"><img src="/cms/img/docs/partners-api.svg" class="legend-icon partners-icon" title="Limited Release"  alt="Limited Release" />(Limited Release)</a> available only to select Partners.<br><br>For this method, only the following fields are returned: <code>bidCount</code>, <code>currentBidPrice</code>, <code>eligibleForInlineCheckout</code>, <code>enabledForGuestCheckout</code>, <code>estimatedAvailabilities</code>, <code>gtin</code>, <code>itemAffiliateWebUrl</code>, <code>itemCreationDate</code>, <code>itemId</code>, <code>itemWebUrl</code>, <code>legacyItemId</code>, <code>minimumPriceToBid</code>, <code>price</code>, <code>priorityListing</code>, <code>reservePriceMet</code>, <code>sellerItemRevision</code>, <code>taxes</code>, <code>topRatedBuyingExperience</code>, and <code>uniqueBidderCount</code>.<br><br>The array <code>shippingOptions</code>, which comprises multiple fields, is also returned.</span><h3>Restrictions</h3>For a list of supported sites and other restrictions, refer to <a href="/api-docs/buy/browse/overview.html#API">API Restrictions</a>.<br><br><span class="tablenote"><b>eBay Partner Network:</b> In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemsRequest
*/
func (a *ItemAPIService) GetItems(ctx context.Context) ApiGetItemsRequest {
	return ApiGetItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Items
func (a *ItemAPIService) GetItemsExecute(r ApiGetItemsRequest) (*Items, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Items
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemAPIService.GetItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/item/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_ids", r.itemIds, "form", "")
	}
	if r.itemGroupIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_group_ids", r.itemGroupIds, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEBAYCENDUSERCTX != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-ENDUSERCTX", r.xEBAYCENDUSERCTX, "simple", "")
	}
	if r.xEBAYCMARKETPLACEID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-MARKETPLACE-ID", r.xEBAYCMARKETPLACEID, "simple", "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemsByItemGroupRequest struct {
	ctx context.Context
	ApiService *ItemAPIService
	itemGroupId *string
	fieldgroups *string
	xEBAYCENDUSERCTX *string
	xEBAYCMARKETPLACEID *string
	acceptLanguage *string
}

// This query parameter specifies the unique identifier of an item group for which information is to be returned. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.&lt;br&gt;&lt;br&gt;This ID is returned in the &lt;b&gt;itemGroupHref&lt;/b&gt; field of the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item_summary/methods/search\&quot;&gt;search&lt;/a&gt; and &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItem\&quot;&gt;getItem&lt;/a&gt; methods.&lt;br&gt;&lt;br&gt;&lt;b&gt;For Example:&lt;/b&gt;&lt;pre&gt;https://api.ebay.com/buy/browse/v1/item/get_items_by_item_group?item_group_id&#x3D;3**********6&lt;/pre&gt;
func (r ApiGetItemsByItemGroupRequest) ItemGroupId(itemGroupId string) ApiGetItemsByItemGroupRequest {
	r.itemGroupId = &itemGroupId
	return r
}

// This field controls what is returned in the response. If this field is not set, the method returns all details about the item.&lt;br&gt;&lt;br&gt;&lt;b&gt;Valid Values:&lt;/b&gt;&lt;br&gt;&lt;br&gt;&lt;b&gt;ADDITIONAL_SELLER_DETAILS&lt;/b&gt; - This field group adds the &lt;a href&#x3D;\&quot;/api-docs/buy/browse/resources/item/methods/getItemsByItemGroup#response.items.seller.userId\&quot;&gt;userId&lt;/a&gt; field to the response.
func (r ApiGetItemsByItemGroupRequest) Fieldgroups(fieldgroups string) ApiGetItemsByItemGroupRequest {
	r.fieldgroups = &fieldgroups
	return r
}

// This header is required to support revenue sharing for eBay Partner Network and to improve the accuracy of shipping and delivery time estimations.&lt;br&gt;&lt;br&gt;For additional information, refer to &lt;a href&#x3D;\&quot;/api-docs/buy/static/api-browse.html#Headers\&quot; target&#x3D;\&quot;_blank \&quot;&gt;Use request headers&lt;/a&gt; in the &lt;a href&#x3D;\&quot;/api-docs/buy/static/buying-ig-landing.html\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Buying Integration Guide&lt;/a&gt;.
func (r ApiGetItemsByItemGroupRequest) XEBAYCENDUSERCTX(xEBAYCENDUSERCTX string) ApiGetItemsByItemGroupRequest {
	r.xEBAYCENDUSERCTX = &xEBAYCENDUSERCTX
	return r
}

// This header identifies the seller&#39;s eBay marketplace. It is required for all marketplaces outside of the US.&lt;br&gt;&lt;br&gt;&lt;span class&#x3D;\&quot;tablenote\&quot;&gt;&lt;b&gt;Note:&lt;/b&gt; If a marketplace ID value is not provided, the default value of &lt;code&gt;EBAY_US&lt;/code&gt; is used.&lt;/span&gt;&lt;br&gt;See &lt;a href&#x3D;\&quot;/api-docs/buy/browse/types/ba:MarketplaceIdEnum\&quot; target&#x3D;\&quot;_blank\&quot;&gt;MarketplaceIdEnum&lt;/a&gt; for a list of supported marketplaces.
func (r ApiGetItemsByItemGroupRequest) XEBAYCMARKETPLACEID(xEBAYCMARKETPLACEID string) ApiGetItemsByItemGroupRequest {
	r.xEBAYCMARKETPLACEID = &xEBAYCMARKETPLACEID
	return r
}

// This header is used to indicate the natural language and locale preferred by the user for the response.&lt;br&gt;&lt;br&gt;This header is required when targeting a specific locale of a marketplace that supports multiple locales. For example:&lt;ul&gt;&lt;li&gt;When targeting the French locale of the Belgium marketplace, it is required to pass in &lt;code&gt;fr-BE&lt;/code&gt; to specify this. If this locale is not specified, the language will default to Dutch.&lt;/li&gt;&lt;li&gt;When targeting the French locale of the Canadian marketplace, it is required to pass in &lt;code&gt;fr-CA&lt;/code&gt; to specify this. If this locale is not specified, the language will default to English.&lt;/li&gt;&lt;/ul&gt;
func (r ApiGetItemsByItemGroupRequest) AcceptLanguage(acceptLanguage string) ApiGetItemsByItemGroupRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r ApiGetItemsByItemGroupRequest) Execute() (*ItemGroup, *http.Response, error) {
	return r.ApiService.GetItemsByItemGroupExecute(r)
}

/*
GetItemsByItemGroup Method for GetItemsByItemGroup

This method retrieves details about individual items in an item group. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.<br><br>You pass in the <b>item_group_id</b> as a URI parameter.<br><br>This method returns two main containers:<ul><li><b>items</b><br>This container has an array of containers with the details about each item in the group.</li><li><b>commonDescriptions</b><br>This container has an array of containers for a description and the <code>item_ids</code> for all items that have this exact description. Because items within an item group often have the same description, this decreases the size of the response.</li></ul>Setting the <b>fieldgroup</b> to <code>ADDITIONAL_SELLER_DETAILS</code> adds an additional field to the response that returns the seller's user ID. For more information, refer to <a href="/api-docs/buy/browse/resources/item/methods/getItemsByItemGroup#uri.fieldgroups">fieldgroups</a>.<h3>Restrictions</h3>For a list of supported sites and other restrictions, refer to <a href="/api-docs/buy/browse/overview.html#API">API Restrictions</a>.<br><br><span class="tablenote"><b>eBay Partner Network: </b> In order to be commissioned for your sales, you must use the URL returned in the <code>itemAffiliateWebUrl</code> field to forward your buyer to the ebay.com site.</span>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemsByItemGroupRequest
*/
func (a *ItemAPIService) GetItemsByItemGroup(ctx context.Context) ApiGetItemsByItemGroupRequest {
	return ApiGetItemsByItemGroupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemGroup
func (a *ItemAPIService) GetItemsByItemGroupExecute(r ApiGetItemsByItemGroupRequest) (*ItemGroup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemGroup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemAPIService.GetItemsByItemGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/item/get_items_by_item_group"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.itemGroupId == nil {
		return localVarReturnValue, nil, reportError("itemGroupId is required and must be specified")
	}

	if r.fieldgroups != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldgroups", r.fieldgroups, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "item_group_id", r.itemGroupId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xEBAYCENDUSERCTX != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-ENDUSERCTX", r.xEBAYCENDUSERCTX, "simple", "")
	}
	if r.xEBAYCMARKETPLACEID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-EBAY-C-MARKETPLACE-ID", r.xEBAYCMARKETPLACEID, "simple", "")
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
